@{
    ViewBag.Title = "adminPage";
}

<h2>admin Page</h2>

 <div class="container">

        <div id="mydiv" class="row" >

            <div class="col-md-3">
                <p class="lead" >Admin Portal</p>
                <div class="list-group" >
                    <a href="/addItem/addItem" class="list-group-item" >Add Item</a>
                    <a href="/updateDelete/updateDelete" class="list-group-item">Update/Delete Item </a>
                    <a href="/viewLogins/viewLogins" class="list-group-item">View Logins</a>
                </div>
            </div>
            </div>
</div>




