<h1>Shopping Cart</h1>
&nbsp;<a href="{#cart.urls.continueShopping}" class="continue-shopping">Continue Shopping</a>
  <a href="{#cart.urls.checkout}" class="checkout-button">Checkout</a>
  <table  class="shopping-cart">
    <thead>
      <tr class="headings">
        <td class="link">&nbsp;</td>
         
        <td class="price">Price</td>
        <td class="quantity">Quantity</td>
        <td class="price">Total</td>
      </tr>
    </thead>
    
  </table>
&nbsp;<div class="coupon">
    &nbsp;<input type="submit" value="Apply" />
  </div>
&nbsp;<div style="clear: both;"></div>
<a href="{#cart.urls.continueShopping}" class="continue-shopping">Continue Shopping</a>
<a href="{#cart.urls.checkout}" class="checkout-button">Checkout</a>