<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electronics items</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="~/Content/style.css">

    <!-- Custom CSS -->
    <link href="shop-homepage.css" rel="~/Content/stylesheet">

   
    <style type="text/css">
        .auto-style8 {
            width: 225px;
            height: 225px;
        }
        .auto-style10 {
            width: 183px;
            height: 275px;
        }
        .auto-style11 {
            width: 3285px;
            height: 2584px;
        }
        .auto-style13 {
            width: 276px;
            height: 183px;
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    
    <!-- /.container -->
                <div class="container">

  <div id="login-form">

    <h3>Sign up</h3>

    <fieldset>

      <form action="javascript:void(0);" method="get">

        <input type="email" required value="Email" onBlur="if(this.value=='')this.value='Email'" onFocus="if(this.value=='Email')this.value='' "> <!-- JS because of IE support; better: placeholder="Email" -->

        <input type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "> <!-- JS because of IE support; better: placeholder="Password" -->
          <input type="Password" required value="Confirm Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "> <!-- JS because of IE support; better: placeholder="Password" -->
          <input type="email" required value="www.something.com" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "> <!-- JS because of IE support; better: placeholder="Password" -->
          <input type="text" required value="city name" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "> <!-- JS because of IE support; better: placeholder="Password" -->
          <input type="text" required value="code" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "> <!-- JS because of IE support; better: placeholder="Password" -->
          <input type="number" required value="0333" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "> <!-- JS because of IE support; better: placeholder="Password" -->
        <input type="submit" value="Sign up">

        <footer class="clearfix">

         

        </footer>

      </form>

    </fieldset>

  </div> <!-- end login-form -->

</div>
    

   

</body>

</html>

